body {
  font-family: sans-serif;
  display: flex; /*container flexivel*/
  justify-content: center;  /*centralizando o contrainer vertical*/
  align-items: center;  /*centralizando o contrainer horizontal*/
  min-height: 85vh; /*centralizando o contrainer horizontal*/
  background-color: #778899;
  color: white;
}


.container {
  display: block;
  background-color: #808080;
  align-content: center;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 1);
  text-align: center;
  width: 350PX; /*largura*/
  height: 600px; /*altura*/
  margin: 10px;
}

.box {
  background-color: #808080;
  align-content: center;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 1);
  text-align: center;
  width: 350PX; /*largura*/
  height: 600px; /*altura*/
  margin: 10px;
  display: none;
}


h2 {
  color: #2F4F4F;
}


label {
  display: block; /*quebra de linha*/
}


input {
  width: 90%; /*largura*/
  padding: 6px; /*preenchimento*/
  margin-bottom: 18px; /*espaço entre as entradas e os nomes*/
  border-radius: 4px;
  box-sizing: border-box; /* Garante que padding e border estejam incluídos na largura */
}

textarea {
  padding: 25px;
}

button {
  background-color: rgb(230, 230, 250);
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;   
}

@media (max-width: 480px) {
  .container, .box {
      width: 90%; /* Adapta a largura para telas menores */
  }
}



