/* definição de cores*/
:root {
  --cor-1: #4B0082;       
  --cor-2: #87a5c4;     
  --cor-destaque: #6A5ACD;       
  --cor-texto: #18191a;          
  --cor-fundo: #4682B4;          
  --Escuro: rgba(0, 0, 0, 0.1); 
  --display: #FF7F50;
  --bg-url: url('./messages_light_colour_background.jpg');
  
}


body  {
  font-family: roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 87vh;
  color: var(--cor-texto);
  margin: 15px;
  padding: 18px;
  background-image: var(--bg-url);
  background-size: cover;
  background-repeat: no-repeat;
}



.container {   /*Login*/
  background-color: var(--display);
  margin-bottom: 30px;
  border-radius: 18px;
  padding: 25px;
  width: 100%;
  max-width: 400px;
  margin: 18px;
  transition: transform 0.3s ease;

}


.box { /*Agendar mensagem*/
  margin: 18px;
  background: var(--display);
  border-radius: 18px;
  padding: 35px;
  width: 100%;
  max-width: 400px;
  display: none
  
}


.h2 {
  color: var(--cor-1);
  margin-bottom: 5px;
  font-size: 2px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

label, textarea, div {
  font-size: 22px;
}


input, textarea { 
margin-left: auto;
margin-right: auto;
width: 400px;
height: 40px;
border-radius: 4px;
box-shadow: 6px 6px 1px var(--Escuro);
font-family: Arial, Helvetica, sans-serif;
font-size: 22px;
}

textarea { 
 height: 85px;
}


button {
font-size: smaller;
background-color: var(--cor-destaque);
font-weight: bold;
font-size: 22px;
color: white;
padding: 9px;
border: none;
border-radius: 4px;
font-weight: 600;
cursor: pointer;
width: 100%;
box-shadow: var(--cor-texto);
}

button:hover {
  background-color: var(--cor-1);
  transform: translate(2px);
  box-shadow: var(--Escuro);
}

@media (max-width: 480px) {
  .container, .box {
    padding: 15px; /* Ajustei para 15px para melhor legibilidade */
    margin: 10px;
  }

  input, textarea {
    width: 100%; 
    font-size: 18px; 
    
  }
}

-------------------------

/* Estilos da Listagem */
.agendamento-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
  box-shadow: 0 2px 5px var(--Escuro);
}

.agendamento-card button {
  background-color: var(--cor-destaque);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.agendamento-card button:hover {
  background-color: var(--cor-1);
}

.btn-voltar {
  margin-top: 20px;
  width: auto;
  padding: 10px 30px;
}
